

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
	 @font-face {
			 font-family: 'HKGrotesk-Light';
			 src: url("../fonts/HKGrotesk-Light.eot");
			 src: url("../fonts/HKGrotesk-Light.woff2") format("woff2"),
						url("../fonts/HKGrotesk-Light.woff") format("woff"),
						url("../fonts/HKGrotesk-Light.ttf?") format("truetype");
			 font-weight: normal;
	 }

	 @font-face {
			 font-family: 'HKGrotesk-Regular';
			 src: url("../fonts/HKGrotesk-Regular.eot");
			 src: url("../fonts/HKGrotesk-Regular.woff2") format("woff2"),
						url("../fonts/HKGrotesk-Regular.woff") format("woff"),
						url("../fonts/HKGrotesk-Regular.ttf?") format("truetype");
			 font-weight: normal;
	 }

	 @font-face {
	     font-family: 'HKGrotesk-Bold';
	     src: url("../fonts/HKGrotesk-Bold.eot");
			 src: url("../fonts/HKGrotesk-Bold.woff2") format("woff2"),
						url("../fonts/HKGrotesk-Bold.woff") format("woff"),
						url("../fonts/HKGrotesk-Bold.ttf?") format("truetype");
	     font-weight: normal;
	 }



body{
	font-family: 'HKGrotesk-Light';
	padding: 0px;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
	body{
		font-size: 6px;
	}
 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	body{
	font-size: 8px;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	body{
		font-size: 12px;
	}
}

.jumbotron{
	margin: 0px;
	padding: 5em 0px 200px;
	background:inherit;

}

.logo{
	width: 76px;
	float:left;
	margin-right: 20px;
}

.name{
	font-size: 20px;
	line-height: 20px;
	font-family: 'HKGrotesk-Bold';
	color: #262624;
	position: fixed;
	width:100%;
}

.jumbotron h1{
	font-family: 'HKGrotesk-Bold';
	font-size: 8em;
	color: #262624;
	margin: 1.25em 0px 0.5em;
}

.jumbotron p{
	font-size: 4.5em;
	line-height: 1.5em;
	color: #8C8C8C;
	margin-bottom: 1em;
}

.jumbotron a{
text-decoration: none;
}

a.behance{
	color: #1769FF;
}

a.dribbble{
	color: #EA4C89;
}

a.twitter{
	color: #1DA1F2;
}

a.linkedin{
	color: #0077B5;
}

a.mail{
	color: #50E3C2;
}

.jumbotron a:hover{
	text-decoration: line-through;
}


.white-bg{
		background:#fff;
}
