

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body{
	font-family: 'Avenir Next';
	padding: 0px;
	background: #E8E8E8 url('../img/yellowpart.png') no-repeat top left;
	background-size: cover ;
}

.jumbotron{
	margin: 0px;
	padding: 50px 0px 200px;
	background:inherit;

}

.jumbotron h1{
	/*font-size: 130px;
	line-height: 125px;*/
	font-weight: bold;
	color: #33332E;
	text-transform: uppercase;

}

.jumbotron p{
	/*font-size: 36px;
	line-height: 42px;*/
	font-weight: 400;
	color: #33332E;
}

.jumbotron a{
	font-size: 24px;
	line-height: 42px;
	margin-right: 8px;
	font-weight: 400;
	color: #33332E;
}

.jumbotron a:hover{
	color: #000;
}

.coming-soon{
	padding: 100px 0px;
	background:#fff;
}


.white-bg{
		background:#fff;
}
